<h1 class="title text-center my-4">📊 {{ title }} Components</h1>

<div>
  <ul class="nav nav-pills justify-content-center tabList">
    <li class="nav-item" (click)="updateTab('doughnut')">
      <a class="nav-link">Doughnut Chart</a>
    </li>
    <li class="nav-item" (click)="updateTab('bar')">
      <a class="nav-link">Bar Chart</a>
    </li>
  </ul>
</div>

<div [ngSwitch]="displayTab">
  <div *ngSwitchCase="'doughnut'">
    <app-doughnut-chart></app-doughnut-chart>
  </div>
  <div *ngSwitchCase="'bar'">
    <app-bar-chart></app-bar-chart>
  </div>
</div>
